body {
    background-image: url("../images/code-background.jpg");
}

#game-play-section {
    margin-top: 60px;
    border-style: solid;
    border-width: 20px 15px 25px 20px;
    border-image: url("../images/editor-border-image.png") 40 stretch;
    background-color: #333333;
    color: antiquewhite;
}